@{
    Layout = "Layout";
    ViewData["Title"] = "Add/Edit Seminar";
}
@using SeminarManager.MVC.ViewModel;
@model SeminarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form method="POST" asp-controller="Seminar" asp-action="Save" id="seminar_form">
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="ID" value="@Model.ID" />
    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Extent">Extent:</label>
        <input class="form-control" asp-for="Extent" />
        <span asp-validation-for="Extent" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Teacher">Teacher:</label>
        <span class="teacher"></span>
        <script>
            var teacher = new SelectPure(".teacher", {
            options: [
            @foreach (var obj in ViewBag.Persons) {
                <text>{ label: "@obj", value: "@obj.ID", },</text>
            }
            ],
            @if (Model.Teacher != 0) {
            <text>value: "@Model.Teacher",</text>
            }
            icon: "fa fa-times",
            autocomplete: true,
            classNames: {
                select: "select-pure__select",
                dropdownShown: "select-pure__select--opened",
                multiselect: "select-pure__select--multiple",
                label: "select-pure__label",
                placeholder: "select-pure__placeholder",
                dropdown: "select-pure__options",
                option: "select-pure__option",
                autocompleteInput: "select-pure__autocomplete",
                selectedLabel: "select-pure__selected-label",
                selectedOption: "select-pure__option--selected",
                placeholderHidden: "select-pure__placeholder--hidden",
                optionHidden: "select-pure__option--hidden",
            }
        });

        $('#seminar_form').submit(function(e) {
            var value = teacher.value();
            value = value == null ? 0 : value;
            $('<input>').attr({type: 'hidden', name: 'Teacher', value: value }).appendTo($('#seminar_form'));  
        });
        </script>
        <span asp-validation-for="Teacher" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Attendees">Attendees:</label>
        <span class="attendees"></span>
        <script>
            var attendees = new SelectPure(".attendees", {
            options: [
            @foreach (var obj in ViewBag.Persons) {
                <text>{ label: "@obj", value: "@obj.ID", },</text>
            }
            ],
            value: [
            @foreach (var id in Model.Attendees) {
                <text>"@id", </text>
            }
            ],
            multiple: true,
            autocomplete: true,
            icon: "fa fa-times",
            classNames: {
                select: "select-pure__select",
                dropdownShown: "select-pure__select--opened",
                multiselect: "select-pure__select--multiple",
                label: "select-pure__label",
                placeholder: "select-pure__placeholder",
                dropdown: "select-pure__options",
                option: "select-pure__option",
                autocompleteInput: "select-pure__autocomplete",
                selectedLabel: "select-pure__selected-label",
                selectedOption: "select-pure__option--selected",
                placeholderHidden: "select-pure__placeholder--hidden",
                optionHidden: "select-pure__option--hidden",
            }
        });

        $('#seminar_form').submit(function() {
            var value_as_string = attendees.value().toString();
            if (value_as_string != "") {
                var values = value_as_string.split(',');
                for (var i=0; i<values.length; i++) {
                    $('<input>').attr({type: 'hidden', name: 'Attendees[' + i + ']', 
                        value: values[i] }).appendTo($('#seminar_form'));
                }
            }
        });
        </script>
        <span asp-validation-for="Attendees" class="text-danger"></span>
    </div>
    <input class="btn btn-primary" type="submit" value="Ok" />
</form>
